fastapi
uvicorn[standard]
orjson
pydantic
pydantic-settings
python-dotenv
httpx
presidio-analyzer
presidio-anonymizer
sentence-transformers
qdrant-client
asyncpg
sqlalchemy
psycopg2-binary
pandas
arize-phoenix-otel
openinference-semantic-conventions
apscheduler
fpdf2

# --- OPEN TELEMETRY AUTO-INSTRUMENTORS ---
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx